@font-face {
    font-family: 'Netflix Sans';
    src: url('fonts/NetflixSans-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Netflix Sans';
    src: url('fonts/NetflixSans-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Netflix Sans';
    src: url('fonts/NetflixSans-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Netflix Sans';
    src: url('fonts/NetflixSans-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}


* {
    
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--Netflix-default-font);
  /* transition: all 0.5s ease-in-out; */
  color: white;
}

:root {
  --Netflix-legacy-color: #e50914;
  --Netflix-default-font: "Netflix Sans","DM Sans", "IBM Plex Sans", sans-serif, Helvetica,
    Arial, sans-serif;
}
/* .videop2 {
  max-width: 600px;
}

.videop3 {
  max-width: 800px;
} */
/* input:focus{
    border: 2px solid white;
} */
body {
  background-color: black;
  width: 100vw;
  overflow-x: hidden;
}
.separater {
  border-bottom: 6px solid #232323;
}
.btn {
  transition: all 0.3s;
}
.btn:hover {
  background-color: #aa0009;
  transition: all 0.3s;
}
.page {
  height: 95vh;
  width: 100vw;
  overflow: hidden;
  /* min-height: 43.75rem; */
  /* padding: 9.875rem 0 4rem; */
  /* max-width: max(100px,100vw); */

  /* margin-bottom: 10px; */
  background-color: black;
}

/* .page1{
    display: flex;
    flex-direction: column;
    background-image: url(assets/background-page1.jpg);
    box-shadow: 0 0 555px 100px black inset;
    background-position: center 100px center;
     background-size: cover;
    background-repeat: no-repeat;
    height: 70vh;
    position: relative;


    object-fit:cover ;
} */

.page1 {
  height: 95vh;
  display: flex;
  width: 100vw;
  flex-direction: column;
  /* justify-content: center; */
  background-image: url(assets/background-page1.jpg);
  box-shadow: 0 0 1500px 152px black inset;
  background-size: cover;
}

header {
  justify-self: flex-start;
  /* align-self: flex-start; */
}

main {
  height: 100%;
  justify-self: center;
}

.bgimage {
  width: 100%;
  height: 100%;
  background-image: url(assets/background-page1.jpg);
  box-shadow: 0 0 555px 100px black inset;
  background-position: top -103px right 0px;
  background-size: cover;
  background-size: 118%;
  object-fit: cover;
}

nav {
  /* align-self: flex-start; */
  width: 82vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 21px 42px;
  margin: 0px auto;
}

nav > svg {
  max-width: 130px;
  max-height: 35px;
  fill: var(--Netflix-legacy-color);
  transform: scale(1.15);
}

nav .navbtn {
  display: flex;
  gap: 1rem;
  align-items: center;
}

nav select,
footer select {
  width: 100%;
  /* padding: 5px 32px; */
  /* padding: 5px 16px; */
  padding: 0px 10px;
  background-color: transparent;
  color: white;
  border: none;
  /* border-radius: 5px; */
  font-family: var(--Netflix-default-font);
  font-size: 12px;
  font-weight: 600;
  outline: none;
  appearance: none;
  position: relative;
  z-index: 10;
  text-align: center;
}

.translate {
  display: flex;
  
  justify-content: space-between;
  align-items: center;
  width: 120px;
  padding: 6px 0px;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.404);
  /* pointer-events: none; */
  position: relative;
}

.translate > #logo {
  color: white;
  margin-right: 5px;
  position: absolute;
  left: 10px;
}
.translate #arrow{
  position: absolute;
  right: 10px;
}
/* .translate > #dropdown {
  transform: rotate(180deg);
  margin-left: 5px;
} */

select > .colorwhite {
  color: black;
}

nav button {
  /* height: 20px; */
  padding: 6px 16px;
  background-color: var(--Netflix-legacy-color);
  color: white;
  border: none;
  border-radius: 5px;
  font-family: var(--Netflix-default-font);
  font-size: 12px;
  font-weight: 600;
}

/* 
nav select:focus{
    color: black;
}

nav select:not(:focus){
    color: white;
}
 */
.outer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  height: 15rem;
  width: 61rem;
  padding: 0;
  margin: auto auto;
  justify-self: center;
  text-align: center;
  font-weight: 400;
}

.content h1 {
  font-size: 42px;
  font-weight: 1000;
  /* font-family:  url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Bd.woff2) format("woff2"),url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Bd.woff) format("woff") */
  /* letter-spacing: -1px; */
  word-spacing: 8px;
}

.content p {
  font-size: 21px;
  font-weight: 400;
  margin-top: -8px;
}

.content .box {
  display: flex;
  flex-direction: column;
  padding: 0px 15%;
  margin-top: 10px;
  width: 100%;
  gap: 15px;
}

.box h3 {
  font-size: 17.5px;
  font-weight: 400;
}

.box .input {
  width: 100%;
  height: 92%;
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
}

.box input {
  padding: 15px 14px 15px 12px;
  position: relative;
  width: 22rem;
  color: white;
  background-color: rgb(23 23 23 / 68%);
  border: 1px solid rgba(128, 128, 128, 0.644);
  border-radius: 5px;
  font-size: 14px;
  outline: none;
  padding-top: 20px;
  /* backdrop-filter: blur(55px); */
}

.box input::placeholder {
  position: absolute;

  color: rgba(255, 255, 255, 0.89);
  /* font-size: 14px; */
  font-family: "Netflix Sans", sans-serif;
  font-weight: 200;
  transition: all 0.125s;
  transform: translateY(-4px);
  word-spacing: 3px;
  letter-spacing: 1px;
  /* margin-bottom: 10px; */
}
.box input:focus::placeholder {
  transform: translateY(-17px) translateX(-5px) scale(0.9);

  transition: all 0.125s;
}

.box button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  /* width: auto; */
  min-height: 3.5rem;
  height: auto;
  padding: 12px auto;
  /* padding: 0.75rem 4.5rem; */
  background-color: var(--Netflix-legacy-color);
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 22px;
  font-weight: 600;
}

.box button > svg {
  color: white;
  fill: white;
  /* transform: rotate(-90deg); */
}

.similarpage {
  width: 100vw;
  height: auto;
  /* height: 78vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  padding: 4.5rem 0px;
}
.page2 {
  width: 100vw;
  height: auto;
  /* height: 78vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  padding: 4.5rem 0px;
}
.page2 .page2content {
  width: 50%;
  margin: auto;
}
.pageh2 {
  font-size: 42px;
  font-weight: 900;
}
.page-p {
  font-size: 21px;
  font-weight: 400;
  margin-top: 14px;
}
.page2element {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 77vw;
  margin: auto;
}
.page2 .videoplayp1 {
  width: 100px;
  height: auto;
}
/* .page2 img{
    position: relative;
    width: 100%;
    height: auto;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left:20px;
    z-index: 1;
    object-position: center center;
    object-fit: cover;
} */
/* .page2 .vdop1 {
  width: 50%;
  height: 50%;
  position: relative;
  top: -386px;
  bottom: 169px;
  left: 84px;
  z-index: 0;
  overflow: hidden;
} */

.videop2 {
  position: relative;
  
  width: 50%;
  height: 50%;
  overflow: hidden;
}

.videop2 img {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: contain;
  z-index: 1;
}
.videop2 > div {
  position: absolute;
    top: 20%;
    left: 13%;
    width: 74%;
    height: 55%;
    object-fit: contain;
    z-index: 0;
}
.videop2 video {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* .page3{
    padding: 24px 42px;
} */
.page3element {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80vw;
  margin: auto;
}
/* .videop3 >img{
    width: 470px;
    height: 370px;
    height: auto;
    object-fit: cover; 
}
*/
.page3content {
  width: 50%;
}
.page3content > h2 {
  font-weight: 1000;
}
.videop3 {
  position: relative;
  height: 40%;
  width: 50%;
}
.videop3 > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card {
  width: 60%;
  height: 20%;
  min-width: 210px;
  min-height: 65px;
  background-color: black;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center;
  border: 2px solid #5a5a5a;
  border-radius: 10px;

  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%) translateY(-10%);
}
.card > img {
  width: 65%;
  height: 80%;
  object-fit: cover;
}
.card .cardtext {
  justify-self: flex-start;
}
.card .blue {
  color: #0071eb;
}

.page4element,
.page5element {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80vw;
  height: 100%;
  margin: auto;
}
.page4content {
  width: 50%;
}
.videop4 {
  position: relative;
  width: 50%;
  height: 100%;
}
.videop4 > img {
  position: relative;
  z-index: 2;
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.videop4 > div {
  width: 66%;
  position: absolute;
  z-index: 0;
  top: 7%;
  left: 18%;
}
.videop4 video {
  width: 100%;
  height: 100%;
}

.page5content {
  width: 65%;
}
.p5-img {
  width: auto;
}
.page5 .p5-img > img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.page6 {
  padding: 4.5rem 0px;
}
.page6element {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 77vw;
  height: auto;
  margin: auto;
}

.que {
  margin: 1.5rem 0 0;
  width: 100%;
  height: 79vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.asked {
  width: 100%;
  height: 100%;

  font-size: 21px;
  color: white;
  background-color: #2d2d2d;
  text-align: center;
  padding: 1.5rem;
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease-out;
}
.asked:hover {
  background-color: #414141;
  transition: background-color 0.3s ease-out;
}
.asked > h1 {
  font-size: 1em;
  font-weight: 500;
}
.asked > svg {
  height: 30px;
  width: 30px;
}

.page6 .box {
  margin-top: 40px;
  width: 80%;
  height: auto;
  margin: 40px auto 0px auto;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
footer {
  height: auto;
}
.footercontent {
  width: 78vw;

  margin: auto;
  margin-top: 60px;
  margin-bottom: 60px;
  text-transform: capitalize;
}
.footergrid {
  height: 23vh;
}
footer li,
footer li > a {
  color: #b9b9b9;
}
.footergrid > ul {
  height: 100%;
  width: 100%;
  color: #808080;
  font-size: 12.5px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
}
.footergrid > ul > .first {
  grid-column: 1/5;
  font-size: 14px;
}
footer ul {
  list-style: none;
}

footer .translate {
  width: 120px;
}
footer p {
  margin-top: 21px;
  font-size: 12.25px;
  color: #b9b9b9;
}

@media only screen and (max-width: 1280px) {
  nav {
    margin: 0;
    width: 100vw;
    padding: 21px 40px;
  }
  /* .videop2>div{
        
        top: -357px;
        left: 68px;
        width: 388px;
        height: 221px;
    } */

  .page2 .videop2 {
    width: 530px;
  }
  .page2 .page2content {
    width: 45vw;
  }

  .page4 {
    height: 80vh;
  }
  .page4element {
    width: 95vw;
  }
  /* .videop4{
        width: 100%;
    } */
  .videop4 > div {
    width: 333px;
    top: 7%;
    left: 20%;
  }
  .page5element {
    width: 95vw;
    height: 67vh;
  }
  .page5content {
    width: 50%;
  }

  .page6element {
    width: 95vw;
    height: auto;
    margin: auto;
  }
  .footercontent {
    width: 95vw;

    margin: auto;
    margin-top: 60px;
    margin-bottom: 60px;
    text-transform: capitalize;
  }
}

@media only screen and (max-width: 1230px) {
  .page2 {
    padding: 5rem 0px;
  }
  .page2 .page2element {
    width: 90vw;
    height: auto;
    /* padding: 0; */
  }
  /* .page2 .videop2 {
    width: 593px;
    height: 470px;
  }
  .videop2 > div {
    top: -357px;
    left: 68px;
    width: 388px;
    height: 221px;
  }
  .videop2 img {
    width: 524px;
    height: 470px;
  } */

  .page3element {
    width: 75vw;
  }
}

@media only screen and (max-width: 1150px) {
  .page3content > h2 {
    font-size: 35px;
  }
  .page3content > p {
    font-size: 20px;
  }
}

@media only screen and (max-width: 960px) {
  .page1 {
    height: 70vh;
    box-shadow: 0 0 1000px 102px black inset;
  }
  nav {
    padding: 12px 32px;
  }
  nav > svg {
    transform: scale(0.7) translateX(-16px);
  }
  .content h1 {
    font-size: 28px;
    font-weight: 700;
    word-spacing: normal;
  }
  .content p {
    font-size: 15.75px;
    margin-top: 1px;
  }

  .box h3 {
    font-size: 15.75px;
    margin-top: 1px;
  }
  .content {
    height: 12rem;
    width: 39rem;
  }

  .content .box {
    padding: 0px 0px;
  }
  .box button {
    font-size: 19px;
  }

  .page2 .page3 {
    height: 100vh;

    padding: 4.5rem 0px;
  }

  .page2 .page2element {
    flex-direction: column;
    text-align: center;
  }
 .page2  .page2content{
    width: 100%;
  }
  .pageh2,
  .page3content > h2 {
    font-size: 28px;
    font-weight: 900;
  }
  .page-p,
  .page3content > p {
    font-size: 15.75px;
    font-weight: 400;
    margin-top: 14px;
  }

  /* .videop2 > div {
    top: -357px;
    left: 103px;
    width: 388px;
    height: 221px;
  } */

  .page3element {
    flex-direction: column-reverse;
    text-align: center;
    width: 97vh;
  }

  .page3content {
    width: 100%;
  }
  .videop3 {
    height: 80%;
    width: 100%;
  }
  .card {
    width: 65%;
    height: 17%;
  }
  .card > img {
    width: 51%;
  }

  .page4 {
    height: auto;
  }
  .page4element {
    flex-direction: column;
    text-align: center;
    width: 80vw;
  }
  .page4content {
    width: auto;
  }
  .videop4 {
    width: 85%;
    margin-top: 25px;
  }
  .videop4 > img {
    position: relative;
    z-index: 2;
    height: 111%;
    width: 100%;
    object-fit: contain;
  }
  .videop4 > div {
    width: 65%;
    top: 7%;
    left: 18%;
  }

  .page5element {
    flex-direction: column-reverse;
    height: auto;
    text-align: center;
  }
  .page5content {
    width: 95vw;
  }
  .page6 {
    height: auto;
    box-sizing: border-box;
  }
  .page6element {
    width: 93vw;
  }
  .page6 .asked {
    font-size: 15.75px;
    font-weight: 400;
  }
  .page6 .que {
    height: 69vh;
  }
  .page6 .box {
    margin: 60px auto 0px auto;
    width: 100%;
  }
  .asked > h1 {
    font-size: 1em;
    font-weight: 300;
  }
  .box > h3 {
    width: 100%;
  }
  .box input {
    padding: 22px 14px 15px 12px;
    width: 24rem;
    height: auto;
  }
  .footergrid {
    height: 45vh;
  }
  .footergrid ul {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(9, 1fr);
    grid-auto-flow: column;
  }
  .footercontent {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .box input {
    padding: 23px 14px 15px 12px;
    width: 24rem;
    height: auto;
}
}

@media only screen and (max-width: 599px) {
  .page1 {
    height: 66vh;
    box-shadow: 0 0 1000px 59px black inset;
  }

  nav .translate {
    padding: 4px 7px;
    width: 50px;
    height: 30px;
  }
  nav select {
    display: none;
  }
  .content {
    /* padding: 0px 13px; */
    height: 17rem;
    width: 90%;
  }
  .content .box {
    padding: 0px 21px;
  }
  .content input {
    /* display: block; */
    width: 100%;
    max-height: 40px;
  }
  .content .input {
    display: flex;
    flex-direction: column;
    /* flex-direction: column; */
  }
  .box h3 {
    font-size: 15px;
    margin-top: 1px;
    width: 100%;
  }
  .box button {
    transform: scale(0.9);
    width: 160px;
  }

.page2 .videop2 {
    width: 90%;
    height: auto;
  }
  /*
  .videop2 > div {
    top: -342px;
    left: 128px;
    width: 362px;
    height: 205px;
  }
  .videop2 img {
    width: 463px;
    height: 470px;
  } */
  .videop3 {
    height: 80%;
    width: 90%;
  }
  .page3content {
    width: 88%;
  }
  .page6 .box > h3 {
    font-size: 14.3px;
  }
  .page6 .input {
    flex-direction: column;
  }
  .page6 .box input {
    width: 100%;
  }
  /* .page6 .box input:focus::placeholder {
    transform: translateX(-5px) translateY(-17px) scale(0.9);
  } */
  .content input {
    /* display: block; */
    width: 100%;
    max-height: 46px;
}
.asked{
    padding: 0.5rem 1rem;
}
.page6 .que {
    height: 45vh;
}
}
/* @media only screen and (max-width: 520px){
    .page1{
        height: 50vh;
    }

} */

@media only screen and (max-width: 425px) {
  nav {
    padding: 8px 15px;
  }
  .page1 {
    height: 64vh;
    padding-top: 10px;
    box-shadow: 0 0 1000px 22px black inset;
  }
  .page1 .content {
    width: 90vw;
    height: 31vh;
    margin: 0px auto;
  }
  /* .videop2 img {
    width: 354px;
    height: 325px;
  } */
  .page2 {
    height: 80vh;
  }
  .page2 .page2content {
    width: 90vw;
  }
  /* .videop2 > div {
    top: -243px;
    left: 166px;
    width: 258px;
    height: 143px;
  } */
  .page2 .videop2{
    width: 100%;
  }
  .videop3 {
    height: 80%;
    width: 130%;
  }
  .page4element {
    width: 90vw;
  }
  /* .page6 .box input:focus::placeholder {
    transform: translateX(-15px) translateY(-17px) scale(0.9);
  } */
}

@media only screen and (max-width: 300px) {
  nav button {
    font-size: 10px;
  }
  .videop3 {
    height: 80%;
    width: 100%;
  }
  .page6 .box {
    margin-top: 75px;
  }
}
@media only screen and (max-width: 260px) {
  nav {
    flex-direction: column;
  }
}
